<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head') %>
  <body class="flex h-screen flex-col">
    <%- include('../partials/header') %>

    <main>
      <h1>Escolha seu melhor amigo 🐶</h1>

      <div>
        <% dogs.forEach(dog => { %>
        <div>
          <img src="<%- dog.photo %>" alt="<%- dog.name %>" />
          <strong>Nome: <%- dog.name %></strong>
          <p><%- dog.age %></p>
          <a href="https://api.whatsapp.com/send?phone=55<%- dog.phone %>"
            >Telefone do doador: <%- dog.phone %></a
          >
        </div>
        <% }) %>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
